<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>TTGR2</title>
        <!-- VUE.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        
        <!-- LESS -->
        <link rel="stylesheet/less" type="text/css" href="main.less" />
        <script src="//cdn.jsdelivr.net/npm/less@3.13" ></script>
        
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/483d49eb2c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="app">
            
            <!--


            
            HOME



            -->
            <div>
                <div class="scene scene-home sh" id="home" :class="[ activeScene ]" v-if="activeScene.home || activeScene.gameOver">
                    
                    <div class="sh-background"></div>
                    
                    <div class="sh-characters">
                        <div v-for="(character, key) in characters" :class="'character_' + [ character.mainScene ]">
                            <a v-on:click="goToCS(key)"><img :src="getCharacterOutfitImage(key, character.selectedOutfit)"></a>
                        </div>
                    </div>
                    
                    <!-- HOME SCENE -->
                    <div v-if="activeScene.home">
                        <div class="sh-ramp"></div>
                        <div class="sh-tm-gate">
                            <div class="sh-ring"></div>
                            <div class="sh-portal"></div>
                        </div>
    
                        <div class="sh-sidebar sh-sidebar-left">
                            <ul>
                                <li><a class="ui-button"><i class="fas fa-cog"></i></a></li>
                                <li><a class="ui-button"><i class="fas fa-cart-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="sh-sidebar sh-sidebar-right">
                            <ul>
                                <li><a class="ui-button"><i class="fas fa-cat"></i></a></li>
                                <li><a class="ui-button"><i class="fas fa-gamepad"></i></a></li>
                                <li><a class="ui-button"><i class="fas fa-play"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- GAME OVER SCREEN WITH REWARD UI -->
                    <div class="sgo" v-if="activeScene.gameOver">
                        <div class="sgo-top-bar">
                            <div class="sgo-close">
                                <a class="ui-button ub-s"><i class="fas fa-times" v-on:click="changeScene('home')"></i></a>
                            </div>
                            <div class="c-goldBar-counter c-counter">
                                <img src="images/gold-bar.png" id="c-gbi"> {{ getActiveVideoGoldBars() }}
                            </div>
                            <div class="sgo-score">
                                {{ getActiveVideoScore() }}
                            </div>
                        </div>

                        <div class="lbp-container" id="lbp">
                            <div class="loot-box-progress lbp">
                                <!--<div class="glow ping" v-if="chestReady()"></div>-->
                                <div class="lbp-bar" id="lbp-bar"><div class="lbp-bar-fill" :style="{ width: goldBarFill + '%' }"></div></div>
                                <img class="lbp-chest" id="lbp-chest-main" src="images/loot-box-chest.png">
                                <div class="lbp-indicator" :style="{ left: goldBarFill + '%' }">
                                    <img src="images/gold-bar.png">
                                </div>
                            </div>
                        </div>

                        <div class="gold-bar-rewards">
                            <img src="images/gold-bar.png" class="gbr gbr-1" id="gbr-1">
                            <img src="images/gold-bar.png" class="gbr gbr-2" id="gbr-2">
                            <img src="images/gold-bar.png" class="gbr gbr-3" id="gbr-3">
                        </div>
                    </div>
                    
                    <img class="lbp-chest lbpc-reward" id="lbp-chest-floaty" src="images/loot-box-chest.png">

                    <!-- BOTTOM UI NAVIGATION -->
                    <div class="sh-bottom-navigation">
                        <div class="loot-boxes-ep" id="lb-ep">
                            <a v-on:click="changeScene('lootBoxes')"><img src="images/loot-box-ep.png"></a>
                        </div>
                        <div class="go-ep" id="go-ep">
                            <a><img src="images/go-ep.png"></a>
                        </div>
                        <!--div class="time-machine-ep" id="tm-ep">
                            <a><img src="images/time-machine-ep.png"></a>
                        </div-->
                    </div>
                </div>
            </div>
            
            
            
            <!--



            LOOT BOXES



            -->
            <div>
                <div class="scene scene-loot-boxes lb" v-if="activeScene.lootBoxes"  v-bind:class="{ hasKeys: inventory.keys > 0 }">
                    <div class="lb-fixed-top">
                        <div class="lb-top-bar">
                            <div v-if="inventory.keys <= 0" class="lb-keys">
                                Next <i class="fas fa-key"></i> in <span id="keys-countdown">{{ keyCountdown }}</span>
                            </div>
                            <div class="lb-close">
                                <a class="ui-button ub-s"><i class="fas fa-times" v-on:click="changeScene('home')"></i></a>
                            </div>
                            <div class="c-hard-currency-counter c-counter">
                                <i class="fas fa-gem"></i> {{ inventory.hardCurrency }}
                            </div>
                            <div class="c-key-counter c-counter">
                                <i class="fas fa-key"></i> {{ inventory.keys }}
                            </div>
                            <div class="probability">
                                <i class="far fa-question-circle"></i>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="lb-tile-list">
                        <div class="lb-tile">
                            <div class="loot-box-progress lbp" id="lbp" v-if="inventory.chests <= 0">
                                <div class="lbp-bar" id="lbp-bar"><div class="lbp-bar-fill" :style="{ width: goldBarFill + '%' }"></div></div>
                                <img class="lbp-chest" src="images/loot-box-chest.png">
                                <div class="lbp-indicator" :style="{ left: goldBarFill + '%' }" v-if="goldBarFill < 100">
                                    <img src="images/gold-bar.png">
                                </div>
                            </div>
                            <div class="lb-tile-rewards">
                                <img v-if="inventory.chests > 4"  class="chest5"     src="images/loot-box-chest-darken.png">
                                <img v-if="inventory.chests > 3"  class="chest4"     src="images/loot-box-chest-darken.png">
                                <img v-if="inventory.chests > 2"  class="chest3"     src="images/loot-box-chest-darken.png">
                                <img v-if="inventory.chests > 1"  class="chest2"     src="images/loot-box-chest-darken.png">
                                <img v-if="inventory.chests > 0"  class="chest"      src="images/loot-box-chest.png">
                                <img v-if="inventory.chests <= 0"  class="chest"      src="images/loot-box-chest-unavailable.png">
                            </div>
                            <div class="lb-tile-cta">
                                <div class="lb-tile-cta-inner">
                                    <a class="button" v-if="inventory.keys > 0 && inventory.chests > 0" v-on:click="openLootBox()"><i class="fas fa-key"></i> OPEN</a>
                                    <a class="button disabled" v-else><i class="fas fa-key"></i> OPEN</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="lb-tile">
                            <div class="lb-tile-rewards lb-tile-premium">
                                <img class="chest"      src="images/loot-box-premium-1.png">
                            </div>
                            <div class="lb-tile-cta">
                                <div class="lb-tile-cta-inner">
                                    <a class="button disabled" v-if="inventory.hardCurrency < 300"><i class="fas fa-gem"></i> 300</a>
                                    <a class="button" v-else v-on:click="openLootBox('premium')"><i class="fas fa-gem"></i> 300</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--



            LOOT BOX OPENING



            -->
            <div>
                <div class="scene scene-loot-box-opening lbo" id="lbo" v-if="activeScene.lootBoxOpening">
                    <div class="lbo-step-open" v-if="lboStep == 'chest'">
                        <div class="lbo-chest">
                            <img class="chest" src="images/loot-box-chest.png">
                            <div class="key"></div>
                        </div>
                    </div>
                    <div class="lbo-step-open" v-if="lboStep == 'premium'">
                        <div class="lbo-chest lbo-premium">
                            <img class="chest" src="images/loot-box-premium-1.png">
                        </div>
                    </div>
                    <div class="lbo-step-stickers">
                        <div class="lbo-stickers-reward-preview" v-if="lboStep == 'stickersRewardPreview' || showStickerCounter" v-bind:class="{ 'lbo-srp-counter' : showStickerCounter }">
                            <div class="rewards">
                                <div class="sticker-pile" id="sticker-pile">
                                    <img src="images/stickers-pile-back.png">
                                </div>
                                <div class="amount">{{ lboStickersRemaining() }}</div>
                            </div>
                            <div class="tutorial-hand tutorial-hand-tap"></div>
                            <div class="clickOverlay" v-on:click="startStickerUnveiling" v-if="lootBoxOpening == 1 && !stickerProcessing"></div>
                        </div>
                        <div class="lbo-stickers-claiming" v-if="lboStep == 'stickerUnveiling' && lootBoxOpeningStickers.stickerReady">
                            <div class="sticker">
                                <img :src="getStickerBack()" id="sticker-back" class="sticker-back">
                                <img :src="getActiveSticker()" id="sticker-front" class="sticker-front">
                            </div>
                            <div class="album-page-container">
                                <div class="album-page" class="appear-opacity" v-bind:class="{tutorialOutfit : isTutorialOutfit}">
                                    <div v-for="(status, key) in selectedOutfitAlbumPage">
                                        <img :src="getSticker(csSelected, getCharacterTryOutfit(csSelected), key)" :id="csSelected+'_'+getCharacterTryOutfit(csSelected)+'_'+key">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lbo-stickers-duplicates" v-if="lboStep == 'duplicates'">
                            <div class="duplicates-list">
                                <div class="sticker-duplicate" v-for="(sticker, key) in duplicates">
                                    <div class="sticker-image">
                                        <img class="real" :src="sticker.image" :id="'sdi-' + key">
                                        <img class="fake" src="images/sticker-back-normal.png" :id="'sdf-' + key">
                                    </div>
                                    <div class="sticker-coins" :id="'gb-' + key">
                                        <img src="images/gold-bar.png">
                                        <div class="gb-amount">+ {{ sticker.coins }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lbo-outfit-claiming appear-opacity" v-if="lboStep == 'newOutfit'">
                            <img :src="selectedCharOutfitImg">
                            <div class="clickOverlay" v-on:click="lboClaimOutfit"></div>
                            <div class="tutorial-hand tutorial-hand-tap"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--



            CHARACTER SELECTION



            -->
            <div>
                <div class="scene scene-character-selection cs" id="cs" v-if="activeScene.characterSelection">
                    <div>
                        <div class="cs-close">
                            <a class="ui-button ub-s"><i class="fas fa-times" v-on:click="confirmOutfitChange()"></i></a>
                        </div>

                        <div class="cs-preview">
                            <div class="cs-3d-char appear-opacity"  v-if="getOutfitType != 'stickers'">
                                <div class="lock" v-if="getOutfitType == 'purchasable'"><i class="fas fa-lock"></i></div>
                                <img :src="selectedCharOutfitImg">
                            </div>
                            <div v-if="getOutfitType == 'purchasable'"></div>
                            <div class="album-page appear-opacity" v-if="getOutfitType == 'stickers'" v-bind:class="{tutorialOutfit : isTutorialOutfit}">
                                <div v-for="(status, key) in selectedOutfitAlbumPage">
                                    <img :src="getSticker(csSelected, getCharacterTryOutfit(csSelected), key)">
                                </div>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <div class="cs-bottom">
                            <div class="cs-list">
                                <div v-for="(outfit,key) in characters[csSelected].outfits" class="cs-list-outfit" v-bind:class="{ active : charTryOutfitID == key }">
                                    <a v-on:click="changeTryOutfit(key)">
                                        <div class="cs-lock" v-if="outfit.type != 'unlocked'" v-bind:class="{ unlockIt :  getOutfitType == 'new'}">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                        <img :src="getCharacterOutfitImage(csSelected, key)">
                                    </a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="cs-bottom-actions">
                                <div class="video-position"></div>
                                <div class="confirm">
                                    <a class="button large" v-if="getOutfitType == 'purchasable'">2.99 €</a>
                                    <a class="button large" v-on:click="confirmCharChange()" v-else>SELECT</a>
                                </div>
                                <div class="characters-list">
                                    <div class="collapsed" v-if="!charSelectorOpen">
                                        <a class="cl-char-node active" v-on:click="charSelectorOpen = true">
                                            <img :src="'images/cs-' + csSelected + '.png'" >
                                        </a>
                                    </div>
                                    <div class="expanded" v-if="charSelectorOpen">
                                        <div v-for="(character, key) in characters" :class="'cl-e-char clec-' + [ character.mainScene ]">
                                            <a class="cl-char-node" v-on:click="changeCharacterInFocus(key)" v-bind:class="{ active : key == csSelected }"><img :src="'images/cs-' + key + '.png'"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script src="main.js"></script>