html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




@font-face {
  font-family: amsi;
  src: url(fonts/amsi-pro.ttf);
}

.clear {
    clear: both;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#app {
    background-color: #0b71c0;
    min-height: 100%;
}


//
//
// VARIABLES
//
//

@green: #90C88E;
@blue: #8EBFC8;
@yellow: #C8BD8E;
@purple: #958DC8;
@orange: #C8A38D;
@pink: #C88EA5;

//
//
// COMMONS
//
//

.button {
    background: #00ff00;
    background: linear-gradient(0deg, #00ff00 0%, #6fff00 100%);
    border: 1px solid #267675;
    border-radius: 12px;
    box-shadow: inset 0 -3px 2px rgba(0, 0, 0, 0.3), inset 0 1px 1px #6fff00, inset 0 3px 2px rgba(255, 255, 255, 1);
    color: #003242;
    display: inline-block;
    font-size: 2em;
    max-width: 100%;
    padding: 10px 15px 10px;
    
    i:first-child {
        margin-right: 5px;
    }
    
    &.disabled {
        background: linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(170,170,170,1) 100%);
        border-color: #666;
        box-shadow: inset 0 -5px 5px rgba(0,0,0,0.3), inset 0 3px 1px rgb(200,200,200), inset 0 3px 2px rgb(255 255 255);
        color: #333;
    }

    &.large {
        font-size: 3em;
        padding: 18px 30px 15px;
    }
}
    
    

body {
    font-family: amsi;
    font-size: 10px;
    max-width: 100%;
}

.ui-button {
    @button-size: 60px;
    @ub-s: 40px;
    
    background: url(images/sidebar-button.png) center center;
    background-size: contain;
    color: #FFF;
    display: inline-block;
    font-size: 2em;
    height: @button-size;
    line-height: @button-size;
    position: relative;
    text-align: center;
    width: @button-size;
    
    &.ub-s {
        font-size: 2em;
        height: @ub-s;
        line-height: @ub-s;
        position: relative;
        width: @ub-s;
    }
}

.glow {
    border-radius: 100%;
    box-shadow: 0 0 100px 50px rgb(255 255 255);
}

.clickOverlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.animationPlayResume {
    animation-play-state: running;
}

//
//
// ANIMATIONS
//
//

.stopAnimations {
    animation-play-state: paused;
    opacitY: 0 !important;
    transform: scale(0) !important;
    transition: all ease-in-out 0.2s;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }
  
 @keyframes slide-from-top {
    0% {
        margin-top: -100vh;
    }
    100% {
        margin-top: 0;
    }
  }
  @keyframes slide-from-bottom {
     0% {
         margin-bottom: -100vh;
     }
     100% {
         margin-bottom: 0;
     }
   }
  @keyframes lootBoxIntroOutro {
     0% {
         margin-top: -100vh;
     }
     10% {
         margin-top: 0;
     }
     90% {
         margin-top: 0;
     }
     100% {
         margin-top: 100vh;
     }
   }
   @keyframes lootPremiumBoxIntroOutro {
      0% {
          margin-top: -100vh;
      }
      25% {
          margin-top: 0;
      }
      75% {
          margin-top: 0;
      }
      100% {
          margin-top: 100vh;
      }
    }

@keyframes appear-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appear-disappear-opacity {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
.app-dis {
    animation: appear-disappear-opacity 1s both;
}

.appear-opacity {
    animation: appear-opacity 0.2s both;
}

@keyframes key-in {
  0% {
    left: -200%;
  }
  100% {
    left: 50%;
  }
}


@keyframes rewards-up {
  0% {
    bottom: -1000%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.reward-pulsate {
    animation: pulsate 1s 0.5s ease-in-out;
}


@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(80deg);
    }
    50% {
        transform: rotate(130deg);
    }
    75% {
        transform: rotate(260deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//
//
// TUTORIAL HAND
//
//
@keyframes changeBg{
   0%,100%  {background-image: url("images/tutorial-hand.png");}
   50% {background-image: url("images/tutoria-hand-tap.png");}
}

.tutorial-hand-tap {
    animation: changeBg 1.5s infinite, appear-opacity 0.3s linear 3s both;
    background: url(http://localhost/images/tutorial-hand.png) center center no-repeat;
    background-size: contain;
    bottom: 0;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s ease-in-out 2s;
    width: 80px;
    z-index: 100;
    
    &.active {
        opacity: 100%;
    }
}


//
//
// CURRENCY COUNTER
//
//

.c-counter {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100px;
    color: #FFF;
    font-size: 17px;
    line-height: 17px;
    padding: 6px 10px;
    width: 70px;
    
    i {
        margin: 0 6px;
    }
}


//
//
// RESOURCES CONTAINERS
//
//

.tmr {
    background-color: #999;
    border-radius: 20px;
    box-shadow: 0 -7px 0 #666;
    margin: 0 20px;
    padding: 25px 20px;
    text-align: center;
}

.tmr-panel {
    display: inline-block;
    margin-right: 10px;
}

.tmr-container {
    background: #FFF;
    border: 2px solid #666;
    border-radius: 100px;
    display: inline-block;
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 30px;
    
    .fill, .pre-fill {
        background-color: #CCC;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }
    
    .fill {
        z-index: 11;
        transition: all ease-in-out 1s 1s;
    }
    
    .pre-fill {
        height: 0;
        transition: all ease-in-out 0.3s;
        z-index: 11;
    }
    
    &.green {
        .fill {
            background-color: @green;
        }
    }
    &.blue {
        .fill {
            background-color: @blue;
        }
    }
    &.yellow {
        .fill {
            background-color: @yellow;
        }
    }
    &.orange {
        .fill {
            background-color: @orange;
        }
    }
    &.pink {
        .fill {
            background-color: @pink;
        }
    }
    &.purple {
        .fill {
            background-color: @purple;
        }
    }
}


//
//
// LOOT BOX PROGRESS BAR
//
//

    
.lbp-chest {
    width: 50px;
}

.lbp {
    width: 150px;
    
    .lbp-bar {
        background-color: #FFF;
        border: 2px solid #999;
        border-radius: 100px;
        height: 25px;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 1;
        
        .lbp-bar-fill {
            background-color: aquamarine;
            border-radius: 100px 0 0 100px;
            content: "";
            height: 25px;
            position: absolute;
            transition: all ease-in-out 1s 0.5s;
        }
    }
    
    .lbp-chest {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(76%, -14%);
        transition: all linear 0s 0.5s;
        z-index: 6;
    }
    
    .lbp-indicator {
        position: absolute;
        left: 2%;
        top: -35px;
        transform: translateX(-50%);
        transition: all ease-in-out 1s 0.5s, opacity linear 0.2s 0s;
        z-index: 5;
        
        &::before {
            bottom: -10px;
            content: "";
            height: 0;
            border-left: 17px solid transparent;
            border-right: 17px solid transparent;
            border-top: 29px solid #6ab870;
            left: 4px;
            position: absolute;
            width: 0;
            z-index: 55;
        }
        
        img {
            position: relative;
            width: 40px;
            z-index: 56;
        }
    }
    
    .glow {
        height: 70px;
        opacity: 0 !important;
        position: absolute;
        right: -48px;
        top: -21px;
        width: 70px;
        z-index: 2;
    }
}

.lbpc-reward {
    opacity: 0;
    position: absolute;
    transform: translate(76%, -14%);
    transition: all ease-in-out 0, opacity ease-in-out 0.2s;
    z-index: 500;

    &.claim {
        opacity: 1;
        transition: all ease-in-out 1s 1s, opacity ease-in-out 0.2s;
    }
}

.lbp-container.claim {
    .glow {
        opacity: 0;
    }
    .lbp-chest {
        opacity: 0;
        transition: all ease-in-out 0.3s 0s;
    }
    .lbp-indicator {
        opacity: 0;
    }
}


//
//
// HOME SCENE
//
//

.sh-background {
    background: url(images/mainScene.jpg) no-repeat center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.sh-characters {
    & > div {
        position: absolute;
        z-index: 10;
    }
    .character_1 {
        right: 90px;
        top: 180px;
    }
    .character_2 {
        right: 30px;
        top: 350px;
    }
    .character_3 {
        left: 35px;
        top: 400px;
    }
    img {
        max-height: 120px;
    }
}
.sh-sidebar {
    display: none;
    position: absolute;
    top: 35;
    
    &.sh-sidebar-left {
        left: 20px;
    }
    &.sh-sidebar-right {
        right: 20px;
    }
    
    ul {
        list-style: none;
    }
    
    li {
        margin-bottom: 20px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.sh-bottom-navigation {
    height: 20px;
    text-align: center;
    
    &>div {
        bottom: 1%;
        float: left;
        position: absolute;
        width: 30%;
        z-index: 200;

        &.show {
            opacity: 1 !important;
        }
    }
    .loot-boxes-ep {
        left: 0;
        width: 30%;
    }
    .go-ep {
        left: 30%;
        width: 40%;
    }
    .time-machine-ep {
        left: 70%;
        width: 30%;
    }
    
    img {
        width: 80%;
    }
}




//
//
//LOOT BOXES
//
//

.hasKeys {
    .lb-fixed-top {
        height: 80px;
    }
    .lb-tile-list {
        margin-top: 80px;
    }
}

.lb-fixed-top {
    background: rgb(0,174,255);
    background: linear-gradient(0deg, rgba(0,174,255,1) 0%, rgba(0,240,255,1) 100%);
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.3);
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.lb-top-bar {
    padding: 10px;
    
    &>div {
        float: left;
        margin-right: 10px;
    }
    
    .probability {
        font-size: 2.5em;
        line-height: 30px;
    }
    
    .lb-close {
        float: right;
        margin-right: 0;
    }
    
    .lb-keys {
        float: none;
        font-size: 1.6em;
        letter-spacing: 0.3px;
        margin-bottom: 5px;
        text-align: center;
        width: 290px;
    }
}

.lb-tile-list {
    margin-top: 80px;
    
    .lb-tile {
        background: rgb(255,209,142);
        background: linear-gradient(0deg, rgba(255,209,142,1) 0%, rgba(255,242,174,1) 100%);
        height: 100px;
        overflow: hidden;
        padding: 50px 0;
        
        .lb-tile-premium {
            margin-top: -10px;

            img {
                width: 80%;
            }
        }
        .lb-tile-rewards {
            float: left;
            position: relative;
            text-align: right;
            width: 50%;

            .chest {
                position: relative;
                width: 70%;
                z-index: 10;
            }
            .chest2 {
                margin-left: -15%;
                margin-top: -6%;
                position: absolute;
                width: 50%;
                z-index: 9;
            }
            .chest3 {
                margin-left: -25%;
                margin-top: -12%;
                position: absolute;
                width: 40%;
                z-index: 8;
            }
            .chest4 {
                margin-left: -35%;
                margin-top: -16%;
                position: absolute;
                width: 35%;
                z-index: 7;
            }
            .chest5 {
                margin-left: -50%;
                margin-top: -20%;
                position: absolute;
                width: 30%;
                z-index: 6;
            }
            .resources {
                bottom: 0;
                position: absolute;
                right: 0;
                width: 40%;
                z-index: 11;
            }
        }
        .lb-tile-cta {
            display: table;
            float: left;
            height: 100%;
            width: 50%;
            
            
            .lb-tile-cta-inner {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
    
    .lbp {
        left: 30px;
        margin-top: -5px;
        position: absolute;
        z-index: 50;
    }
}



//
//
//CHARACTER SELECTION
//
//
.cs {
    .cs-close {
        padding: 20px;
        text-align: right;
    }
    .cs-bottom {
        bottom: 30px;
        position: absolute;

        .cs-bottom-actions {
            & > div {
                float: left;
            }
            .characters-list {
                position: relative;
                width: 30%;
                
                .cl-char-node {
                    background-color: #999;
                    border-radius: 100%;
                    display: block;
                    height: 50px;
                    overflow: hidden;
                    width: 50px;

                    &.active {
                        box-shadow: 0 0 0 2px #FFF;
                    }
        
                    img {
                        max-width: 100%;
                    }
                }
        
                .collapsed,
                .expanded {
                    background-color: rgba(0, 0, 0, 0.8);
                    border-radius: 100px;left: 50%;
                    bottom: -65px;
                    padding: 8px;
                    position: absolute;
                    transform: translateX(-50%);
                }

                .cl-e-char {
                    margin-bottom: 7px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .confirm {
                margin-left: 30%;
                text-align: center;
                width: 40%;
            }
        }
    }
    .cs-preview {
        height: 380px;
        position: relative;
        text-align: center;

        .cs-3d-char {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            
            img {
                width: 200px;
            }

            .lock i {
                bottom: 10%;
                font-size: 60px;
                position: absolute;
                right: 10%;
                color: #ab2e2e;
                text-shadow: 0 0 4px #fff;
            }
        }
    }
    .cs-list {
        margin: 0 2%;

        .cs-list-outfit {
            background-color: #60a4e1;
            border-radius: 10px;
            float: left;
            margin: 0 2% 30px;
            position: relative;
            width: 29%;

            a {
                display: inline-block;
                padding: 20px 10px;
            }

            img {
                max-width: 100%;
            }
            &.active {
                box-shadow: 0 0 0 4px #fff;
            }
        }
    }
    .cs-lock {
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 0 3px rgba(0,0,0,0.4);
        color: #ab2e2e;
        font-size: 16px;
        height: 30px;
        left: 50%;
        line-height: 30px;
        position: absolute;
        text-align: center;
        top: 0;
        transform: translate(-50%,-49%);
        transition: all ease-in-out 0.2s;
        width: 30px;
        
        &.unlock-it {
            opacity: 0;
        }
    }
}

.album-page {
    border: 2px solid #FFF;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    margin: 0 auto;
    max-width: 80%;
    overflow: auto;
    position: relative;
    width: 282px;

    &>div {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 4px solid #FFF;
        float: left;
        position: relative;
        width: 33.333333%;

        &:nth-child(3n+1) {
            clear: both;
        }
    }

    img {
        display: block;
        max-width: 100%;
    }

    &.tutorialOutfit {
        width: 272px;

        & > div {
        width: 272px;
            float: none;
            width: 100%;
        }
    }
}

//
//
//LOOT BOX OPENING
//
//

.lbo {
    &.disappear-animation {
        animation: disappear-opacity 0.5s ease-in-out 1s both;
    }
    
    .lbo-chest {
        bottom: 20%;
        left: 10%;
        position: absolute;
        width: 80%;

        &.lbo-premium {
            .chest {
                animation: lootPremiumBoxIntroOutro 1s linear 0.1s both;
            }
        }
        
        .chest {
            animation: lootBoxIntroOutro 2.2s linear 0.1s both;
            max-width: 64%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 200px;
            z-index: 10;
        }
        .glow {
            height: 500px;
            max-width: 60vw;
            max-height: 60vw;
            margin: 0 auto;
            opacity: 0;
            width: 500px;
        }
        .key {
            animation: key-in 0.3s linear 0.5s both, disappear-opacity 0.5s ease-in-out 1.5s both;
            background: url(images/key-half.png) no-repeat center center;
            background-size: contain;
            height: 115px;
            left: 50%;
            margin-left: -37px;
            margin-top: -10px;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 10;
            width: 117px;
        }
    }
    
    .lbo-resources {
        bottom: 50%;
        font-size: 3.5em;
        position: absolute;
        text-align: center;
        width: 100%;
        
        .lbo-resource {
            display: inline-block;
            width: 33%;
        }
        
        .lbo-amount {
            animation: appear-opacity 0.3s linear 0.5s both;
            opacity: 0;
        }
        
        .lbo-resource-image {
            height: 90px;
            margin: 0 auto;
            max-width: 80%;
            position: relative;
            width: 100%;
            
            img {
                animation: rewards-up 0.25s linear 0.2s both;
                bottom: -1000%;
                left: 0;
                margin-left: 10%;
                max-width: 80%;
                position: absolute;
                width: 200px;
            }
        }
    }
    
    .lbo-tmr-container {
        animation: appear-opacity 0.5s linear 1s both;
        bottom: 10%;
        left: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
    }
    
    .lar {
        img {
            position: absolute;
        }
    }
    
    .tutorial-hand {
        bottom: 5%;
    }

    .lbo-step-stickers {
        .lbo-stickers-reward-preview {
            .rewards {
                animation: slide-from-bottom 0.3s ease-in-out 0.1s;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: all linear 0.3s;
            }

            .sticker-pile {
                position: relative;
                z-index: 3;
            }

            .amount {
                background: rgba(0,0,0,0.7);
                border-radius: 100px;
                color: #FFF;
                font-size: 40px;
                margin: 0 auto;
                padding: 10px 0 0;
                position: relative;
                text-align: center;
                transition: all linear 0.3s;
                width: 100px;
                z-index: 2;
            }

            &.lbo-srp-counter {
                .rewards {
                    top: 10%;
                }

                .sticker-pile {
                    float: left;

                    img {
                        height: 80px;
                    }
                }
                .amount {
                    float: left;
                    margin-left: -60px;
                    margin-top: 15px;
                    padding-left: 30px;
                    transform: scale(0.5);
                }

                .tutorial-hand,
                .clickOverlay {
                    display: none;
                }
            }
        }

        .lbo-stickers-claiming {
            .album-page-container {
                bottom: 10%;
                position: absolute;
                width: 100%;
            }
            .album-page {
                margin: 0 auto;
                position: relative;
                width: 282px;

                &.tutorialOutfit {
                    width: 272px;
                }
            }
        }

        .sticker-back {
            opacity: 0;
            position: absolute;
            transform: scale(0);
            transition: all linear 0.3s, opacity linear 0s;
            z-index: 5;
        }
        .sticker-front {
            opacity: 0;
            position: absolute;
            transform: scale(0);
            transition: all linear 0.3s, opacity linear 0s;
            z-index: 6;
        }
    }
}
.lbo-animated-resource {
    .lbo-reward-single {
        opacity: 0;
        width: 20px;
    }
    .lbo-reward-single.do-transition {
        transition: all 1s ease-in-out;

        &.lrs2 {
            transition: all 1s ease-in-out .2s;
        }
        &.lrs3 {
            transition: all 1s ease-in-out .4s;
        }
    }
}
.lbo-outfit-claiming {
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(1.5);
    }
}
.lbo-stickers-duplicates {
    padding: 40% 15px 0;
    
    .duplicates-list {
        .sticker-duplicate {
            float: left;
            text-align: center;
            width: 33.33333%;
            
            .sticker-image {
                .real {
                    position: absolute;
                    transition: all ease-in-out 0.2s;
                    transform: scale(0);
                }
                .fake {
                    opacity: 0;
                }
            }
            .sticker-coins {
                margin-top: -90px;
                transform: scale(0);

                .gb-amount {
                    font-size: 3em;
                    margin-top: 10px;
                }
            }
        }
    }
}