<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>TTBP</title>
        <!-- VUE.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        
        <!-- LESS -->
        <link rel="stylesheet/less" type="text/css" href="main.less" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.3/less.min.js" ></script>
        
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/483d49eb2c.js" crossorigin="anonymous"></script>
        
        <!--  -->
        <script>
            window.location.hash="no-back-button";
            window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
            window.onhashchange=function(){window.location.hash="no-back-button";}
        </script> 
    </head>
    <body>
        <div id="app">
            <div class="frame-container" :class="{ tutorial : tutorial }">
                <div class="overlay" :class="{ show : tutorial }"></div>
                <div class="tutorial-hand tutorial-hand-tap" :class="{ show : tutorial }"></div>
                
                <div class="tools-counter" v-bind:class="{ hideTheUI: hideUI }">
                    <span>{{ tools }}</span>
                </div>
                
                <div class="buildings">
                    <div class="building" id="building-1" :class="{ upgrade : merryGoAround.upgrade, lvlup : merryGoAround.lvlup }" v-on:click="wobbleUI('merryGoAround')">
                        <img :src="merryGoAround.progression[merryGoAround.level].image" >
                    </div>
                    <div class="building" id="building-2" :class="{ upgrade : ferrisWheel.upgrade, lvlup : ferrisWheel.lvlup }" v-on:click="wobbleUI('ferrisWheel')">
                        <img :src="ferrisWheel.progression[ferrisWheel.level].image" >
                    </div>
                    <div class="building" id="building-3" :class="{ upgrade : rollerCoaster.upgrade, lvlup : rollerCoaster.lvlup }" v-on:click="wobbleUI('rollerCoaster')">
                        <img :src="rollerCoaster.progression[rollerCoaster.level].image" >
                    </div>
                </div>
                
                <div class="buildings-UI" v-bind:class="{ hideTheUI: hideUI }" v-if="!isEndOfWorld">
                    <div class="buildingUI" v-bind:class="{ attention : merryGoAround.attention }" id="buildingUI-1" v-if="!tutorial">
                        <div v-if="merryGoAround.level >= merryGoAround.maxLevel">
                            <img class="complete" src="images/ui-complete.png">
                        </div>
                        <div v-else>
                            <div class="level"><span class="biggerl">{{ merryGoAround.level }}</span>/{{ merryGoAround.maxLevel }}</div>
                            <div class="progress-bar" v-bind:class="{ 'split-2': merryGoAround.progression[merryGoAround.level].steps == 2, 'split-4': merryGoAround.progression[merryGoAround.level].steps == 4, 'split-8': merryGoAround.progression[merryGoAround.level].steps == 8 }">
                                <div class="fill" v-bind:style="{ width: progressBarWidth(merryGoAround.progression[merryGoAround.level].steps, merryGoAround.progression[merryGoAround.level].step) + 'px'}"></div>
                                <div class="bar-border"></div>
                            </div>
                            <div class="button" v-on:click="buy('merryGoAround')">
                                <img src="images/ui-hammer.png" class="icon"> 20
                            </div>
                        </div>
                    </div>
                    <div class="buildingUI" v-bind:class="{ attention : ferrisWheel.attention }" id="buildingUI-2" v-if="!tutorial">
                        <div v-if="ferrisWheel.level >= ferrisWheel.maxLevel">
                            <img src="images/ui-complete.png" class="complete" >
                        </div>
                        <div v-else>
                            <div class="level"><span class="biggerl">{{ ferrisWheel.level }}</span>/{{ ferrisWheel.maxLevel }}</div>
                            <div class="progress-bar" v-bind:class="{  'split-2': ferrisWheel.progression[ferrisWheel.level].steps == 2, 'split-4': ferrisWheel.progression[ferrisWheel.level].steps == 4, 'split-8': ferrisWheel.progression[ferrisWheel.level].steps == 8 }">
                                <div class="fill" v-bind:style="{ width: progressBarWidth(ferrisWheel.progression[ferrisWheel.level].steps, ferrisWheel.progression[ferrisWheel.level].step) + 'px'}"></div>
                                <div class="bar-border"></div>
                            </div>
                            <div class="button" v-on:click="buy('ferrisWheel')">
                                <img src="images/ui-hammer.png" class="icon"> 20
                            </div>
                        </div>
                    </div>
                    <div class="buildingUI" v-bind:class="{ attention : rollerCoaster.attention }" id="buildingUI-3">
                        <div v-if="rollerCoaster.level >= rollerCoaster.maxLevel">
                            <img class="complete" src="images/ui-complete.png">
                        </div>
                        <div v-else>
                            <div class="level"><span class="biggerl">{{ rollerCoaster.level }}</span>/{{ rollerCoaster.maxLevel }}</div>
                            <div class="progress-bar" v-bind:class="{ 'split-2': rollerCoaster.progression[rollerCoaster.level].steps == 2, 'split-4': rollerCoaster.progression[rollerCoaster.level].steps == 4, 'split-8': rollerCoaster.progression[rollerCoaster.level].steps == 8 }">
                                <div class="fill" v-bind:style="{ width: progressBarWidth(rollerCoaster.progression[rollerCoaster.level].steps, rollerCoaster.progression[rollerCoaster.level].step) + 'px'}"></div>
                                <div class="bar-border"></div>
                            </div>
                            <div class="button" v-on:click="buy('rollerCoaster')">
                                <img src="images/ui-hammer.png" class="icon"> 20
                            </div>
                        </div>
                    </div>
                </div>
                <div class="end-of-world" :class="{ show : isEndOfWorld }">
                    <img src="images/ui-world-complete.png">
                </div>
            </div>
        </div>
    </body>
</html>

<script src="main.js"></script>