html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//
@font-face {
  font-family: blast;
  src: url(Blast-Black.otf);
}

//
body {
    background: #72BFFF;
    font-family: blast, sans-serif;
    overflow: hidden;
}

//
.frame-container {
    background-color:#F00;
    background: url(images/background.jpg);
    background-size: cover;
    bottom: 0;
    height: 715px;
    left: 0;
    position: absolute;
    width: 360px;
}

.tutorial {
    #buildingUI-3,
    #building-3,
    .tools-counter {
        z-index: 301;
    }
}

.overlay {
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease-in-out 0.1s 0.2s, opacity ease-in-out 0.2s;
    transform: scale(0);
    z-index: 300;
    
    &.show {
        opacity: 0.5;
        transition: all ease-in-out 0.1s, opacity ease-in-out 0.2s 0.2s;
        transform: scale(1);
    }
}

.end-of-world {
    position: absolute;
    bottom: -200px;
    transition: all ease-in-out 0.5s 1s;
    width: 100%;
    text-align: center;
    
    &.show {
        bottom: -10px;
    }
}

.tools-counter {
    background: url(images/ui-tools-counter.png) center center;
    height: 36px;
    position: absolute;
    left: 20px;
    top: 70px;
    width: 92px;
    
    span {
        color: #FFF;
        display: block;
        letter-spacing: 1px;
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 11px;
        text-align: center;
        text-shadow: 0 3px 1px #15346d, 0 0 3px #15346d;
    }
    
    &.hideTheUI {
        transform: scale(0);
    }
}

.building {
    &.upgrade {
        img {
            filter: brightness(150%);
	        animation: wobble-upgrade 0.5s ease-in-out 2 alternate both;
        }
    }
    &.lvlup {
        img {
            filter: brightness(300%);
	        animation: wobble-lvlup 0.6s ease-in-out 4 alternate both;
        }
    }
    
    img {
        transition: all ease-in-out 0.1s;
        -webkit-transition : -webkit-filter 100ms linear
    }
}

//buildings
#building-1 {
    bottom: 233px;
    display: inline-block;
    position: absolute;
    left: 121px;
    z-index: 103;
}
#building-2 {
    bottom: 205px;
    display: inline-block;
    position: absolute;
    left: 8px;
    z-index: 102;
}
#building-3 {
    bottom: 205px;
    display: inline-block;
    position: absolute;
    left: 75px;
    z-index: 101;
}

//
.buildings-UI {
    &.hideTheUI {
        .buildingUI {
            transform: scale(0);
        }
    }
    .buildingUI {
        background: url(images/ui-panel.png) center center no-repeat;
        background-size: cover;
        position: absolute;
        transition: all ease-out 0.2s 0.34s;
        width: 113px;
        height: 95px;
        
        &.attention {
	        animation: wobble-upgrade 0.5s ease-in-out 1 alternate both;
        }
        
        .complete {
            max-width: 80px;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .level {
            color: #fff;
            text-align: center;
            font-size: 20px;
            padding-top: 13px;
            text-shadow: 0 3px 1px #15346d, 0 0 3px #15346d;

            span {
                color: #FDCE2B;
                font-size: 28px;
            }
        }

        .progress-bar {
            background: url(images/ui-progress-bar-underlay.png) center center no-repeat;
            height: 22px;
            margin: 7px auto 0;
            overflow: hidden;
            position: relative;
            width:88px;

            .fill {
                background: rgb(253,244,0);
                background: linear-gradient(0deg, #fdf400 0%, #62cc00 100%);
                height: 100%;
                transition: all ease-in-out 0.3s;
            }

            .bar-border {
                background: url(images/ui-progress-bar-overlay.png) center center no-repeat;
                background-size: cover;
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
            }
            
            &:before {
                content: "";
                height: 100%;
                position: absolute;
                width: 100%;
                z-index: -1;
            }
            
            &.split-2:before {
                background: #003CA0 linear-gradient(90deg, rgba(2,0,36,0) 49%, rgba(9,94,198,1) 49%, rgba(9,94,198,1) 51%, rgba(0,212,255,0) 51%);
            }
            &.split-4:before {
                background: #003CA0 linear-gradient(90deg, rgba(2,0,36,0) 24%, rgba(9,94,198,1) 24%, rgba(9,94,198,1) 26%, rgba(2,0,36,0) 26%, rgba(2,0,36,0) 49%, rgba(9,94,198,1) 49%, rgba(9,94,198,1) 51%, rgba(0,212,255,0) 51%, rgba(0,212,255,0) 74%, rgba(9,94,198,1) 74%, rgba(9,94,198,1) 76%, rgba(0,212,255,0) 76%);
            }
            &.split-8:before {
                background: #003CA0 linear-gradient(90deg, rgba(2,0,36,0) 12%, rgba(9,94,198,1) 12%, rgba(9,94,198,1) 14%, rgba(2,0,36,0) 14%, rgba(2,0,36,0) 24%, rgba(9,94,198,1) 24%, rgba(9,94,198,1) 26%, rgba(2,0,36,0) 26%, rgba(9,94,198,0) 36%, rgba(9,94,198,1) 36%, rgba(9,94,198,1) 38%, rgba(2,0,36,0) 38%, rgba(2,0,36,0) 49%, rgba(9,94,198,1) 49%, rgba(9,94,198,1) 51%, rgba(0,212,255,0) 51%, rgba(0,212,255,0) 61%, rgba(9,94,198,1) 61%, rgba(9,94,198,1) 63%, rgba(0,212,255,0) 63%, rgba(0,212,255,0) 74%, rgba(9,94,198,1) 74%, rgba(9,94,198,1) 76%, rgba(0,212,255,0) 76%, rgba(0,212,255,0) 86%, rgba(9,94,198,1) 86%, rgba(9,94,198,1) 88%, rgba(0,212,255,0) 88%);
            }
        }

        .button {
            background: url(images/ui-button-green.png) center center no-repeat;
            color: #FFF;
            height: 32px;
            margin: 7px auto 0;
            text-align: center;
            text-shadow: 0 3px 1px #146705, 0 0 3px #146705;
            transition: all ease-out 0.1s;
            width: 79px;

            .icon {
                width: 17px;
                margin-top: 3px;
                vertical-align: sub;
            }

            &:active {
                transform: scale(0.85);
            }
        }
    }
}

#buildingUI-1 {
    bottom: 140px;
    left: 120px;
    z-index: 203;
}
#buildingUI-2 {
    bottom: 110px;
    left: 5px;
    z-index: 203;
}
#buildingUI-3 {
    bottom: 110px;
    left: 240px;
    z-index: 203;
}



//building wobble

@keyframes wobble-upgrade {
  0% {
            transform: scale(1.1,0.9);
    transform-origin: 50% 100%;
  }
  33% {
            transform: scale(1,1);
    transform-origin: 50% 100%;
  }
  66% {
            transform: scale(0.9,1.1);
    transform-origin: 50% 100%;
  }
  100% {
            transform: scale(1,1);
    transform-origin: 50% 100%;
  }
}


@keyframes wobble-lvlup {
  0% {
            transform: scale(1.3,1.1);
    transform-origin: 50% 100%;
  }
  33% {
            transform: scale(1,1);
    transform-origin: 50% 100%;
  }
  66% {
            transform: scale(1.1,1.3);
    transform-origin: 50% 100%;
  }
  100% {
            transform: scale(1,1);
    transform-origin: 50% 100%;
  }
}


//tutorial hand
@keyframes changeBg{
   0%,100%  {background-image: url("images/tutorial-hand.png");}
   50% {background-image: url("images/tutoria-hand-tap.png");}
}

.tutorial-hand-tap {
    animation: changeBg 1.5s infinite, appear-opacity 0.3s linear 3s both;
    background: url(images/tutorial-hand.png) center center no-repeat;
    background-size: contain;
    bottom: 45px;
    height: 60px;
    left: 317px;
    margin-left: -40px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    width: 60px;
    z-index: 302;
    
    &.show{
        opacity: 1;
        transition: opacity 0.2s ease-in-out 1s;
    }
}


















