<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>TTBP</title>
        <!-- VUE.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        
        <!-- LESS -->
        <link rel="stylesheet/less" type="text/css" href="main.less" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.3/less.min.js" ></script>
        
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/483d49eb2c.js" crossorigin="anonymous"></script>
        
        <!--  -->
        <script>
            window.location.hash="no-back-button";
            window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
            window.onhashchange=function(){window.location.hash="no-back-button";}
        </script> 
    </head>
    <body>
        <div id="app">
            <!--div class="error-log">
                <div>scene: {{ scene }}</div>
                <div>cSelectedSkinURL: {{ cSelectedSkinURL }}</div>
                <div>mGetSkinStatus: {{ mGetSkinStatus(1) }}</div>
                <div>inViewSkin: {{ inViewSkin }}</div>
            </div-->
            <div class="scene-hub" v-if="scene === 'home'">
                <div class="worlds-backgrounds" :class="cHubOffset">
                    <div class="world world-1">
                        <div class="character" v-on:click="mChangeSceneToWardrobe"><img :src="cSelectedSkinURL" /></div>
                    </div>
                    <div class="world world-2">
                        <div class="world-popup" :class="{ active:mActivePopup(1) }">
                            <div class="overlay"></div>
                            <img src="images/candy-world-locked-popup.png">
                        </div>
                    </div>
                    <div class="world world-3">
                        <div class="world-popup" :class="{ active:mActivePopup(2) }">
                            <div class="overlay"></div>
                            <img src="images/water-world-locked-popup.png">
                        </div>
                    </div>
                </div>
                
                <div v-if="worlds[currentWorld].unlocked" class="buttons-hub-bottom"><img src="images/ui-buttons-hub-bottom.png"></div>
                
                <div class="world-switching">
                    <div v-if="cLeftArrow" class="ws-arrow ws-previous">
                        <img src="images/ui-icon-arrow-left.png" @click="mPreviousWorld">
                    </div>
                    <div v-if="cRightArrow" class="ws-arrow ws-next">
                        <img src="images/ui-icon-arrow-right.png" @click="mNextWorld">
                    </div>
                </div>
            </div>
            
            
            <div class="scene-wardrobe" v-if="scene === 'wardrobe'">
                <div class="wardrobe-background" :class="cCharacterInView"></div>
                <div v-if="mGetSkinStatus(inViewSkin) == 1" class="wardrobe-spotlight"></div>
                
                <div class="currency-counters">
                    <div class="currency-counter counter-skin-tickets"><span>{{ skinTokens }}</span></div>
                    <div class="currency-counter counter-gems"><span>{{ gems }}</span></div>
                </div>
                
                <img class="close-button" @click="mWardrobeCancel()" src="images/ui-close.png">
                
                <div class="character">
                    <img :src="cInViewSkinURL">
                </div>
                
                <div v-if="mGetSkinStatus(inViewSkin) != -1" class="left-video-position">
                    <img src="images/video-position-tickets.png" @click="mVideoPosition">
                </div>
                
                <div class="skin-status">
                    <div v-if="mGetSkinStatus(inViewSkin) == 1">
                        <div v-if="selectedSkin == inViewSkin">
                            <img src="images/ui-selected.png" class="ui-selected">
                        </div>
                        <div v-else>
                            <div class="yellow-button" @click="mChangeSelectedSkin">SELECT</div>
                        </div>
                    </div>
                    <div v-else-if="mGetSkinStatus(inViewSkin) == 0">
                        <div v-if="cSkinEnoughCurrency" class="green-button tickets" @click="mSkinPurchaseInitiation()">
                            <span><img class="currency-icon" src="images/ui-icon-skin-ticket.png">{{ mGetSkinPrice(inViewSkin) }}</span>
                        </div>
                        <div v-else class="green-button tickets red-text" @click="mShowPopup('tickets')">
                            <span><img class="currency-icon" src="images/ui-icon-skin-ticket.png">{{ mGetSkinPrice(inViewSkin) }}</span>
                        </div>
                        <div class="locked-lock">
                            <img src="images/ui-icon-lock.png">
                        </div>
                    </div>
                    <div v-else-if="mGetSkinStatus(inViewSkin) == -1">
                        <div v-if="cSkinEnoughCurrency" class="green-button gems"  @click="mSkinPurchaseInitiation()">
                            <span><img class="currency-icon" src="images/ui-icon-gem.png">{{ mGetSkinPrice(inViewSkin) }}</span>
                        </div>
                        <div v-else class="green-button gems red-text" @click="mShowPopup('gems')">
                            <span><img class="currency-icon" src="images/ui-icon-gem.png">{{ mGetSkinPrice(inViewSkin) }}</span>
                        </div>
                        <div class="locked-world-info">
                            <img src="images/ui-locked-world-info.png" @click="mChangeToLockedWorld">
                        </div>
                        <div class="locked-lock">
                            <img src="images/ui-icon-lock.png"  @click="mChangeToLockedWorld">
                        </div>
                    </div>
                </div>
                
                <div v-if="popup" class="popup" :class="popup">
                    <div class="popup-out">
                        <div class="popup-in">
                            <div class="close-overlay" @click="mHidePopup"></div>
                            <div class="popup-content">
                                <div class="hidden-close-button" @click="mHidePopup"></div>
                                <div v-if="popup === 'tickets'">
                                    <div class="amount">
                                        Get 100 <img src="images/ui-icon-skin-ticket.png">
                                    </div>
                                    <div class="green-button red-text" @click="mShowPopup('gems')">
                                        <span><img class="currency-icon" src="images/ui-icon-gem.png">1000</span>
                                    </div>
                                </div>
                                <div v-else>
                                    <div class="amount">
                                        Buy more in store
                                    </div>
                                    <div class="green-button text-small">
                                        <span>BUY MORE</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="skins-grid">
                    
                    <div v-for="(skin, key) in skins">
                        <div class="skins-grid-entry skin-status-1" v-bind:class="{ 'in-view' : key == inViewSkin }" v-if="mGetSkinStatus(key) == 1">
                            <div @click="mSetChangeSkinInView(key)">
                                <img :src="mGetSkinURL(key)">
                                <div class="price"><div class="price-value">{{ mGetSkinPrice(key) }}</div></div>
                                <div class="lock"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div v-for="(skin, key) in skins">
                        <div class="skins-grid-entry skin-status-0" v-bind:class="{ 'in-view' : key == inViewSkin }" v-if="mGetSkinStatus(key) == 0">
                            <div @click="mSetChangeSkinInView(key)">
                                <img :src="mGetSkinURL(key)">
                                <div class="price"><div class="price-value">{{ mGetSkinPrice(key) }}</div></div>
                                <div class="lock"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div v-for="(skin, key) in skins">
                        <div class="skins-grid-entry skin-status--1" v-bind:class="{ 'in-view' : key == inViewSkin }" v-if="mGetSkinStatus(key) == -1">
                            <div @click="mSetChangeSkinInView(key)">
                                <img :src="mGetSkinURL(key)">
                                <div class="price"><div class="price-value">{{ mGetSkinPrice(key) }}</div></div>
                                <div class="lock"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="scene-reward" v-if="scene === 'reward'">
                <img class="close-button" src="images/ui-close.png">
                
                <div v-if="reward === 'skin'" class="reward-skin">
                    <div class="character">
                        <img :src="cInViewSkinURL">
                    </div>
                </div>
                <div v-else class="reward-skin-tickets">
                    <div class="currency-counters">
                        <div class="currency-counter counter-skin-tickets"><span>{{ skinTokens }}</span></div>
                    </div>
                    
                    <div class="skin-tickets">
                        <img src="images/ui-icon-skin-ticket.png">
                        <span>x5</span>
                    </div>
                </div>
                
                <div v-if="reward === 'skin'" class="close-overlay" @click="mChangeScene('wardrobe')" >
                </div>
                <div v-else class="close-overlay" @click="mClaimSkinTickets()" >
                </div>
            </div>
            
            
            <div v-if="scene === 'ad'" class="scene-ad">
                <span>AD</span>
            </div>
        </div>
    </body>
</html>

<script src="main.js"></script>