html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//
@font-face {
  font-family: blast;
  src: url(Blast-Black.otf);
}

//
body {
    background: #72BFFF;
    font-family: blast, sans-serif;
    overflow: hidden;
}

//error log
.error-log {
    background: rgba(0,0,0,0.5);
    color: #FFF;
    font-family: helvetica, sans-serif;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 50%;
    z-index: 999;
}

//scene-overlap
.close-button {
    position: absolute;
    right: 5vw;
    top: 5vw;
    width: 14%;
    z-index: 99;
}

//green button
.green-button {
    background: url(images/ui-button-green.png) center center no-repeat;
    background-size: contain;
    color: #FFF;
    text-align: center;
    text-shadow: 0 1vw 0.3vw #146705, 0 0 1vw #146705;
    transition: all ease-out 0.1s;
    font-size: 8vw;
    padding: 2vw 13vw 4vw;
    display: inline-block;
    
    .currency-icon {
        margin-right: 1.5vw;
        vertical-align: middle;
        width: 8vw;
    }
    
    &.red-text {
        color: #f47878;
    }
    &.text-small {
        font-size: 6vw;
    }
}
//orange button
.yellow-button {
    background: url(images/ui-button-yellow.png) center center no-repeat;
    background-size: contain;
    color: #FFF;
    text-align: center;
    text-shadow: 0 1vw 0.3vw #CF4E08, 0 0 1vw #CF4E08;
    transition: all ease-out 0.1s;
    font-size: 8vw;
    padding: 2vw 13vw 4vw;
    display: inline-block;
    
    .currency-icon {
        margin-right: 1.5vw;
        vertical-align: middle;
        width: 8vw;
    }
    
    &.red-text {
        color: #f47878;
    }
}

//popup
.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 100;
    
    .popup-out {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }
    
    .popup-in {
        background: url(images/ui-popup-tickets.png) center center no-repeat;
        background-size: contain;
        width: 80vw;
        margin: 0 auto;
        padding-top: 148.138297872%;
        
        .popup-content {
            position: absolute;
            bottom: 5vh;
            font-size: 6vw;
            text-align: center;
            width: 100%;
            
            .hidden-close-button {
                background-color: #F00;
                position: absolute;
                height: 13vw;
                right: 5vw;
                width: 14vw;
                opacity: 0;
                bottom: 57vw;
            }
            
            .amount {
                margin-bottom: 2vh;
            }
            
            img {
                width: 7vw;
                vertical-align: sub;
            }
        }
    }
    
    &.gems {
        .popup-in {
            background: url(images/ui-popup-gems.png) center center no-repeat;
            background-size: contain;
        }
    }
}

//invisible overlay covering the whole screen (tap to close)
.close-overlay {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

//currency counters
.currency-counters {
    color: #FFF;
    font-size: 5vw;
    left: 5vw;
    position: absolute;
    top: 5vw;
    z-index: 101;
    
    .currency-counter {
        height: 9vw;
        position: relative;
        width: 24vw;
        
        span {
            position: absolute;
            top: 30%;
            width: 80%;
            text-align: center;
            left: 20%;
        }
    }
    .counter-skin-tickets {
        background: url(images/ui-counter-tickets.png) center center no-repeat;
        background-size: contain;
    }
    .counter-gems {
        background: url(images/ui-counter-gems.png) center center no-repeat;
        background-size: contain;
    }
}

//home
.scene-hub {
    height: 100vh;
    width: 200vw;
    
    .worlds-backgrounds {
        left: 0;
        position: absolute;
        transition: all ease-in-out 0.4s;
        width: 300vw;
        
        .world {
            float: left;
            height: 100vh;
            position: relative;
            width: 100vw;
        }
        .world-1 {
            background: url(images/background-hub-world1.png) center center;
            background-size: cover;
        }
        .world-2 {
            background: url(images/background-hub-world2.png) center center;
            background-size: cover;
        }
        .world-3 {
            background: url(images/background-hub-world3.png) center center;
            background-size: cover;
        }
        
        &.vw100 {
            left: -100vw;
        }
        &.vw200 {
            left: -200vw;
        }
    }
    
    .world-popup {
        transition: opacity ease-in-out 0.05s 0s;
        opacity: 0;
        
        img {
            position: absolute;
            width: 90vw;
            left: 5vw;
            bottom: 30vh;
            z-index: 101;
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.8);
            z-index: 100;
        }
        
        &.active {
            opacity: 1;
        transition: opacity ease-in-out 0.2s 1s;
        }
    }
    
    .buttons-hub-bottom {
        bottom: -10px;
        position: absolute;
        width: 100%;
        
        img {
            width: 100%;
        }
    }
    
    .character {
        text-align: center;
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);
        
        img {
            height: 32vh;
        }
    }
    
    .world-switching {
        .ws-arrow {
            position: absolute;
            bottom: 20vh;
            z-index: 150;
        }
        .ws-previous {
            left: 5vw;
        }
        .ws-next {
            right: 5vw;
        }
    }
}

//wardrobe

.scene-wardrobe {
    .wardrobe-background {
        height: 60vh;
        position: absolute;
        width: 100vw;
        
        &.tom {
            background: url(images/background-tom.png) center center no-repeat;
            background-size: cover;
        }
        &.angela {
            background: url(images/background-angela.png) center center no-repeat;
            background-size: cover;
        }
        &.becca {
            background: url(images/background-becca.png) center center no-repeat;
            background-size: cover;
        }
        &.ginger {
            background: url(images/background-ginger.png) center center no-repeat;
            background-size: cover;
        }
        &.hank {
            background: url(images/background-hank.png) center center no-repeat;
            background-size: cover;
        }
        &.ben {
            background: url(images/background-ben.png) center center no-repeat;
            background-size: cover;
        }
    }
    
    .wardrobe-spotlight {
        background: url(images/Spotlight.png) center center no-repeat;
        background-size: contain;
        height: 63vh;
        position: absolute;
        width: 120vw;
        top: -5vh;
        left: -10vw;
    }
    
    .locked-world-info {
        position: absolute;
        left: 0;
        width: 50vw;
        bottom: 10vh;
        
        img {
            width: 100%;
        }
    }
    
    .locked-lock {
        img {
            position: absolute;
            left: 50vw;
            bottom: 6.5vh;
            transform: translate(-50%, -50%);
            height: 6vh;
        }
    }
    
    .left-video-position {
        position: absolute;
        bottom: 47vh;
        left: 7vw;
        width: 22vw;
    }
    
    .character {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 32vh;
        bottom: 55vh;

        img {
            height: 100%;
        }
    }

    .skin-status {
        position: absolute;
        bottom: 43vh;
        text-align: center;
        width: 100%;

        .ui-selected {
            margin-bottom: 2vw;
        }
    }

    .skins-grid {
        background-color: #3D4A63;
        bottom: 0;
        height: 40vh;
        overflow-y: scroll;
        position: absolute;
        width: 100%;

        .skins-grid-entry {
            width: 19%;
            float: left;
            text-align: center;
            padding: 2%;
            background-color: #44f;
            border-radius: 2vw;
            margin: 1%;
            position: relative;
            transition: all ease-in-out 0.1s;

            img {
                width: 100%;
            }

            .price {
                color: #FFF;
                position: absolute;
                width: 100%;
                bottom: 0;
                background-color: #339;
                left: 0;
                font-size: 4vw;
                border-radius: 2vw;
                right: 0;
                padding: 1vw 0;

                .price-value {
                    display: inline-block;
                    line-height: 2.2vh;
                    margin-right: -3vw;
                    padding-left: 5vw;
                    position: relative;

                    &:before {
                        content: "";
                        left: 0;
                        height: 2vh;
                        width: 2vh;
                        position: absolute;
                    }
                }
            }

            .lock {
                background: url(images/ui-icon-lock.png) center center no-repeat;
                background-size: contain;
                color: #FFF;
                position: absolute;
                width: 7vw;
                height: 7vw;
                left: -1vw;
                bottom: -1vw;
            }

            &.skin-status-1 {
                background-color: #4283DA;

                .price,
                .lock {
                    display: none;
                }

                &.in-view {
                    box-shadow: inset 0 0 0 3px #4283DA, inset 0 0 0 6px #fff;
                }
            }

            &.skin-status-0 {
                background-color: #86A3CB;

                .price {
                    background-color: #495E7A;

                    .price-value:before {
                        background: url(images/ui-icon-skin-ticket.png);
                        background-size: contain;
                    }
                }

                &.in-view {
                    box-shadow: inset 0 0 0 3px #86A3CB, inset 0 0 0 6px #fff;
                }
            }

            &.skin-status--1 {
                background-color: #ACACAC;

                .price {
                    background-color: #737373;
                    
                    .price-value:before {
                        background: url(images/ui-icon-gem.png);
                        background-size: contain;
                    }
                }

                &.in-view {
                    box-shadow: inset 0 0 0 3px #ACACAC, inset 0 0 0 6px #fff;
                }
            }
        }
    }
}

//reward scene
.scene-reward {
    background: url(images/background-reward-scene.png) center center no-repeat;
    height: 100%;
    background-size: cover;
    position: absolute;
    width: 100%;
    
    .character {
        img {
            height: 50vh;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    .reward-skin-tickets {
        .skin-tickets {
            position: absolute;
            width: 100%;
            text-align: center;
            transform: translateY(-50%);
            top: 50vh;
            
            img {
                width: 40vw;
            }
            
            span {
                display: block;
                color: #FFF;
                font-size: 20vw;
                text-shadow: 0 1vw 0.3vw #ff6832, 0 0 1vw #ff6832;
            }
        }
    }
}

.scene-ad {
    span {
        bottom: 50vh;
        color: #FFF;
        font-size: 40vw;
        position: absolute;
        text-align: center;
        width: 100%;
    }
}