<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>TTGR2</title>
        <!-- VUE.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        
        <!-- LESS -->
        <link rel="stylesheet/less" type="text/css" href="main.less" />
        <script src="//cdn.jsdelivr.net/npm/less@3.13" ></script>
        
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/483d49eb2c.js" crossorigin="anonymous"></script>
        
        <!--  -->
        <script>
            window.location.hash="no-back-button";
            window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
            window.onhashchange=function(){window.location.hash="no-back-button";}
        </script> 
    </head>
    <body>
        <div id="app">
            
            <!--


            
            HOME



            -->
            <div>
                <div class="scene scene-home sh" id="home" :class="[ activeScene ]" v-if="activeScene.home || activeScene.gameOver">
                    <div class="banner">
                        <div class="banner-inner">
                            BANNER
                        </div>
                    </div>
                    
                    <div class="sh-background"></div>
                    
                        
                    <div class="sh-character" id="character">
                        <div class="sh-character-front">
                            <div class="scf-character"></div>
                            <div class="sh-character-shadow scf-shadow"></div>
                        </div>
                        <div class="sh-character-back">
                            <div class="scf-character"></div>
                            <div class="sh-character-shadow scf-shadow"></div>
                        </div>
                    </div>
                    
                    <!-- HOME SCENE WITH GATES -->
                    <div v-if="activeScene.home">
                        <div class="sh-ramp"></div>
                        <div class="sh-tm-gate">
                            <div class="sh-ring"></div>
                            <div class="sh-portal"></div>
                        </div>
    
                        <div class="sh-sidebar sh-sidebar-left">
                            <ul>
                                <li><a class="ui-button"><i class="fas fa-cog"></i></a></li>
                                <li><a class="ui-button"><i class="fas fa-cart-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="sh-sidebar sh-sidebar-right">
                            <ul>
                                <li><a class="ui-button"><i class="fas fa-cat"></i></a></li>
                                <li><a class="ui-button"><i class="fas fa-gamepad"></i></a></li>
                                <li><a class="ui-button"><i class="fas fa-play"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- GAME OVER SCREEN WITH REWARD UI -->
                    <div class="sgo" v-if="activeScene.gameOver">
                        <div class="sgo-top-bar">
                            <div class="sgo-close">
                                <a class="ui-button ub-s"><i class="fas fa-times" v-on:click="changeScene('home')"></i></a>
                            </div>
                            <div class="c-goldBar-counter c-counter">
                                <img src="images/gold-bar.png" id="c-gbi"> {{ getActiveVideoGoldBars() }}
                            </div>
                            <div class="sgo-score">
                                {{ getActiveVideoScore() }}
                            </div>
                        </div>

                        <div class="lbp-container" id="lbp">
                            <div class="loot-box-progress lbp">
                                <!--<div class="glow ping" v-if="chestReady()"></div>-->
                                <div class="lbp-bar" id="lbp-bar"><div class="lbp-bar-fill" :style="{ width: goldBarFill + '%' }"></div></div>
                                <img class="lbp-chest" id="lbp-chest-main" src="images/loot-box-chest.png">
                                <div class="lbp-indicator" :style="{ left: goldBarFill + '%' }">
                                    <img src="images/gold-bar.png">
                                </div>
                            </div>
                        </div>

                        <div class="gold-bar-rewards">
                            <img src="images/gold-bar.png" class="gbr gbr-1" id="gbr-1">
                            <img src="images/gold-bar.png" class="gbr gbr-2" id="gbr-2">
                            <img src="images/gold-bar.png" class="gbr gbr-3" id="gbr-3">
                        </div>
                    </div>
                    
                    <img class="lbp-chest lbpc-reward" id="lbp-chest-floaty" src="images/loot-box-chest.png">

                    <!-- BOTTOM UI NAVIGATION -->
                    <div class="sh-bottom-navigation" id="sh-bottom-navigation">
                        <div class="loot-boxes-ep" id="lb-ep">
                            <a v-on:click="changeScene('lootBoxes')">
                                <img class="chest-img ep" src="images/loot-box-ep.png">
                                <img class="notification-img notification-pulsate" src="images/notification.png" v-if="chestOpen">
                            </a>
                        </div>
                        <div class="go-ep" id="go-ep" v-if="!gameOvering">
                            <a v-on:click="startRun()"><img class="ep" src="images/go-ep.png"></a>
                        </div>
                        <div class="time-machine-ep" id="tm-ep" v-if="activeScene.home || upgradeReady">
                            <a  v-on:click="changeScene('timeMachine')">
                                <img class="ep" src="images/time-machine-ep.png">
                                <img class="notification-img notification-pulsate" src="images/notification.png" v-if="upgradeReady">
                            </a>
                        </div>
                    </div>
                    
                    <div class="game-over-overlay" v-if="gameOvering"></div>
                </div>
            </div>
            
            
            
            <!--



            LOOT BOXES



            -->
            <div>
                <div class="scene scene-loot-boxes lb" v-if="activeScene.lootBoxes"  v-bind:class="{ hasKeys: inventory.keys > 0 }">
                    <div class="lb-fixed-top">
                        <div class="banner">
                            <div class="banner-inner">
                                BANNER
                            </div>
                        </div>
                        <div class="lb-top-bar">
                            <div v-if="inventory.keys <= 0" class="lb-keys">
                                Next <i class="fas fa-key"></i> in <span id="keys-countdown">{{ keyCountdown }}</span>
                            </div>
                            <div class="lb-close">
                                <a class="ui-button ub-s"><i class="fas fa-times" v-on:click="changeScene('home')"></i></a>
                            </div>
                            <div class="c-hard-currency-counter c-counter">
                                <i class="fas fa-gem"></i> {{ inventory.hardCurrency }}
                            </div>
                            <div class="c-key-counter c-counter">
                                <i class="fas fa-key"></i> {{ inventory.keys }}
                            </div>
                            <div class="probability">
                                <i class="far fa-question-circle"></i>
                            </div>
                        </div>
                    </div>

                    <div class="lb-tile-list">
                        <div class="lb-tile">
                            <div class="loot-box-progress lbp" id="lbp" v-if="inventory.chests <= 0">
                                <div class="lbp-bar" id="lbp-bar"><div class="lbp-bar-fill" :style="{ width: goldBarFill + '%' }"></div></div>
                                <img class="lbp-chest" src="images/loot-box-chest.png">
                                <div class="lbp-indicator" :style="{ left: goldBarFill + '%' }" v-if="goldBarFill < 100">
                                    <img src="images/gold-bar.png">
                                </div>
                            </div>
                            <div class="lb-tile-rewards">
                                <img v-if="inventory.chests > 4"  class="chest5"     src="images/loot-box-chest-darken.png">
                                <img v-if="inventory.chests > 3"  class="chest4"     src="images/loot-box-chest-darken.png">
                                <img v-if="inventory.chests > 2"  class="chest3"     src="images/loot-box-chest-darken.png">
                                <img v-if="inventory.chests > 1"  class="chest2"     src="images/loot-box-chest-darken.png">
                                <img v-if="inventory.chests > 0"  class="chest"      src="images/loot-box-chest.png">
                                <img v-if="inventory.chests <= 0"  class="chest"      src="images/loot-box-chest-unavailable.png">
                                <img class="resources"  src="images/resources-pile.png">
                            </div>
                            <div class="lb-tile-cta">
                                <div class="lb-tile-cta-inner">
                                    <a class="button" v-if="inventory.keys > 0 && inventory.chests > 0" v-on:click="changeScene('lootBoxOpening')"><i class="fas fa-key"></i> OPEN</a>
                                    <a class="button" v-else-if="inventory.keys <= 0 && inventory.chests > 0" v-on:click="watchAD('lootBoxOpening')"><i class="fas fa-key"></i> WATCH AD</a>
                                    <a class="button disabled" v-else><i class="fas fa-key"></i> OPEN</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="lb-tile">
                            <div class="lb-tile-rewards">
                                <img class="chest"      src="images/loot-box-premium-1.png">
                                <img class="resources"  src="images/resources-pile.png">
                            </div>
                            <div class="lb-tile-cta">
                                <div class="lb-tile-cta-inner">
                                    <a class="button"><i class="fas fa-gem"></i> 150</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="lb-tile">
                            <div class="lb-tile-rewards">
                                <img class="chest"      src="images/loot-box-premium-1.png">
                                <img class="resources"  src="images/resources-pile.png">
                            </div>
                            <div class="lb-tile-cta">
                                <div class="lb-tile-cta-inner">
                                    <a class="button"><i class="fas fa-gem"></i> 300</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--



            LOOT BOX OPENING



            -->
            <div>
                <div class="scene scene-loot-box-opening lbo" id="lbo" v-if="activeScene.lootBoxOpening">
                    <div class="lbo-step-open" v-if="lootBoxOpening < 3">
                        <div class="lbo-chest">
                            <div class="glow ping" v-bind:class="{ stopAnimations: showChestGlow }"></div>
                            <img class="chest" v-bind:class="{ soonDisappearing: lootBoxOpening == 2 }" src="images/loot-box-chest.png">
                            <div class="tutorial-hand tutorial-hand-tap" v-if="lootBoxOpening == 1"></div>
                            <div class="clickOverlay" v-on:click="openLootBox" v-if="lootBoxOpening == 1"></div>
                            <div class="key" v-if="lootBoxOpening == 2"></div>
                        </div>
                    </div>
                    <div class="lbo-step-rewards-resources" v-if="lootBoxOpening == 3 || lootBoxOpening == 4">
                        <div class="lbo-resources" id="lbo-resources" v-if="lootBoxOpening == 3 || lootBoxOpening == 4">
                            <div v-for="(resource, key) in rewards.resources" class="lbo-resource"  :class="[ key ]">
                                <div class="lbo-amount">{{ resource.amount }}</div>
                                <div class="lbo-resource-image" v-bind:class="{ 'reward-pulsate': lootBoxOpening == 4 }">
                                    <img :src="resourceImage(key)" :id="'lbo_' + [ key ]">
                                </div>
                            </div>
                        </div>
                        <div class="lbo-tmr-container">
                            <div class="time-machine-resources tmr" v-if="(lootBoxOpening == 3 || lootBoxOpening == 4)">
                                <div v-for="(resource, key) in inventory.resources" v-if="resource.active" class="tmr-panel">
                                    <div class="tmr-container" :class="[ key ]" :id="'tmr_' + [ key ]">
                                        <div class="pre-fill" :style="{ height: resource.preFill + '%' }"></div>
                                        <div class="fill" :style="{ height: resource.fill + '%' }"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lbo-animated-resources lar" v-if="lootBoxOpening == 4">
                            <div v-for="(resource,  key) in rewards.resources" class="lbo-animated-resource"  :class="[ key ]">
                                <img :src="resourceSingleImage(key)" class="lbo-reward-single lrs1" :id="'lar_' + [ key ] + '_1'" :style="{ left: resource.position.left + 'px',  top: resource.position.top + 'px'}">
                                <img :src="resourceSingleImage(key)" class="lbo-reward-single lrs2"  :id="'lar_' + [ key ] + '_2'" v-bind:style="{ left: resource.position.left + 'px',  top: resource.position.top + 'px'}">
                                <img :src="resourceSingleImage(key)" class="lbo-reward-single lrs3"  :id="'lar_' + [ key ] + '_3'" v-bind:style="{ left: resource.position.left + 'px',  top: resource.position.top + 'px'}">
                            </div>
                        </div>
                        <div class="clickOverlay" v-on:click="claimResources" v-if="lootBoxOpening == 3"></div>
                        <div class="tutorial-hand tutorial-hand-tap" v-if="lootBoxOpening == 3"></div>
                    </div>
                </div>
            </div>
            
            <!--



            TIME MACHINE



            -->
            <div>
                <div class="scene scene-time-machine stm" id="stm" v-if="activeScene.timeMachine">
                    <div class="banner">
                        <div class="banner-inner">
                            BANNER
                        </div>
                    </div>
                    <div class="lb-close-container">
                        <div class="lb-close" v-if="!upgrading">
                            <a class="ui-button ub-s"><i class="fas fa-times" v-on:click="changeScene('home')"></i></a>
                        </div>
                    </div>
                    <div class="stm-inner">
                        <div class="stm-core">
                            <div class="stm-light-container">
                                <div class="stm-lights" id="stm-lights">
                                    <div class="stm-reward">
                                        <div class="level">{{ level }}</div>
                                        <img :src="returnActiveTimeMachineImage">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="time-machine-resources tmr">
                            <div v-for="(resource, key) in inventory.resources" class="tmr-panel" v-if="resource.active">
                                <div class="tmr-container" :class="[ key ]" :id="'tmr_' + [ key ]">
                                    <div class="pre-fill" :style="{ height: resource.preFill + '%' }"></div>
                                    <div class="fill" :style="{ height: resource.fill + '%' }"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tmu">
                            <a class="upgrade-button" :class="{ disabled: !upgradeReady }" v-on:click="timeMachineUpgrade()">UPGRADE</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--



            RUNNING



            -->
            <div>
                <div class="scene scene-running sr" id="sr" v-if="activeScene.running">
                    <div class="sr-overlay"></div>
                    <div v-for="(video, key) in runnerVideos" v-if="video.active" class="sr-video-container">
                        <div :id="'video_' + [ key ]"></div>
                    </div>
                    <div class="sh-portal"></div>
                </div>
            </div>
            
            <!--



            AD



            -->
            <div class="scene scene-watch-ad swa" v-if="activeScene.watchAD">
                <div>FUN AD</div>
            </div>
        </div>
    </body>
</html>

<script src="main.js"></script>