html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




@font-face {
  font-family: amsi;
  src: url(fonts/amsi-pro.ttf);
}

.clear {
    clear: both;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#app {
    background-color: #0b71c0;
    min-height: 100%;
}


//
//
// VARIABLES
//
//

@bannerHeight: 60px;
@green: #90C88E;
@blue: #8EBFC8;
@yellow: #C8BD8E;
@purple: #958DC8;
@orange: #C8A38D;
@pink: #C88EA5;

//
//
// COMMONS
//
//

.button {
    background: #00ff00;
    background: linear-gradient(0deg, #00ff00 0%, #6fff00 100%);
    border: 1px solid #267675;
    border-radius: 12px;
    box-shadow: inset 0 -3px 2px rgba(0, 0, 0, 0.3), inset 0 1px 1px #6fff00, inset 0 3px 2px rgba(255, 255, 255, 1);
    color: #003242;
    display: inline-block;
    font-size: 2em;
    max-width: 100%;
    padding: 10px 15px 10px;
    
    i:first-child {
        margin-right: 5px;
    }
    
    &.disabled {
        background: linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(170,170,170,1) 100%);
        border-color: #666;
        box-shadow: inset 0 -5px 5px rgba(0,0,0,0.3), inset 0 3px 1px rgb(200,200,200), inset 0 3px 2px rgb(255 255 255);
        color: #333;
    }
}
    
    

body {
    font-family: amsi;
    font-size: 10px;
    max-width: 100%;
}

.banner {
    font-size: 3em;
    padding: 10px;
    position: relative;
    text-align: center;
    z-index: 200;
    
    .banner-inner {
        background-color: #bbb;
        line-height: @bannerHeight;
    }
}

.ui-button {
    @button-size: 60px;
    @ub-s: 40px;
    
    background: url(images/sidebar-button.png) center center;
    background-size: contain;
    color: #FFF;
    display: inline-block;
    font-size: 2em;
    height: @button-size;
    line-height: @button-size;
    position: relative;
    text-align: center;
    width: @button-size;
    
    &.ub-s {
        font-size: 2em;
        height: @ub-s;
        line-height: @ub-s;
        position: relative;
        width: @ub-s;
    }
}

.glow {
    border-radius: 100%;
    box-shadow: 0 0 100px 50px rgb(255 255 255);
}

.clickOverlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.animationPlayResume {
    animation-play-state: running;
}

//
//
// ANIMATIONS
//
//

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out 1.5s infinite both;
	        animation: heartbeat 1.5s ease-in-out 1.5s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-23 16:58:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0;
  }
  1% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0;
  }
  1% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}

.ping {
	-webkit-animation: ping 1.5s ease-in-out 1s infinite both;
	        animation: ping 1.5s ease-in-out 1s infinite both;
}

.stopAnimations {
    animation-play-state: paused;
    opacitY: 0 !important;
    transform: scale(0) !important;
    transition: all ease-in-out 0.2s;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-23 17:28:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */

@keyframes appear-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appear-disappear-opacity {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
.app-dis {
    animation: appear-disappear-opacity 1s both;
}


@keyframes key-in {
  0% {
    left: -200%;
  }
  100% {
    left: 50%;
  }
}


@keyframes rewards-up {
  0% {
    bottom: -1000%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.reward-pulsate {
    animation: pulsate 1s 0.5s ease-in-out;
}
.notification-pulsate {
    animation: pulsate 0.5s ease-in-out infinite;
}


@keyframes character-run {
    0% {
        top: 0;
        transform: scale(1);
    }
    85% {
        top: -150px;
        transform: scale(0.7);
    }
    90% {
        top: -180px;
        transform: scale(0.7);
    }
    100% {
        top: -220px;
        transform: scale(0);
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(80deg);
    }
    50% {
        transform: rotate(130deg);
    }
    75% {
        transform: rotate(260deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


//background gradient
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

//
//
// TUTORIAL HAND
//
//
@keyframes changeBg{
   0%,100%  {background-image: url("images/tutorial-hand.png");}
   50% {background-image: url("images/tutoria-hand-tap.png");}
}

.tutorial-hand-tap {
    animation: changeBg 1.5s infinite, appear-opacity 0.3s linear 3s both;
    background: url(http://localhost/images/tutorial-hand.png) center center no-repeat;
    background-size: contain;
    bottom: 0;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s ease-in-out 2s;
    width: 80px;
    z-index: 100;
    
    &.active {
        opacity: 100%;
    }
}


//
//
// CURRENCY COUNTER
//
//

.c-counter {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100px;
    color: #FFF;
    font-size: 17px;
    line-height: 17px;
    padding: 6px 10px;
    width: 70px;
    
    i {
        margin: 0 6px;
    }
}


//
//
// RESOURCES CONTAINERS
//
//

.tmr {
    background-color: #999;
    border-radius: 20px;
    box-shadow: 0 -7px 0 #666;
    margin: 0 20px;
    padding: 25px 20px;
    text-align: center;
}

.tmr-panel {
    display: inline-block;
    margin-right: 10px;
}

.tmr-container {
    background: #FFF;
    border: 2px solid #666;
    border-radius: 100px;
    display: inline-block;
    height: 120px;
    overflow: hidden;
    position: relative;
    transition: all ease-in-out 0.5s;
    width: 30px;
    
    .fill, .pre-fill {
        background-color: #CCC;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }
    
    .fill {
        z-index: 11;
        transition: all ease-in-out 1s 1s;
    }
    
    .pre-fill {
        height: 0;
        transition: all ease-in-out 0.3s;
        z-index: 11;
    }
    
    &.green {
        .fill {
            background-color: @green;
        }
    }
    &.blue {
        .fill {
            background-color: @blue;
        }
    }
    &.yellow {
        .fill {
            background-color: @yellow;
        }
    }
    &.orange {
        .fill {
            background-color: @orange;
        }
    }
    &.pink {
        .fill {
            background-color: @pink;
        }
    }
    &.purple {
        .fill {
            background-color: @purple;
        }
    }
}


//
//
// LOOT BOX PROGRESS BAR
//
//

    
.lbp-chest {
    width: 50px;
}

.lbp {
    width: 150px;
    
    .lbp-bar {
        background-color: #FFF;
        border: 2px solid #999;
        border-radius: 100px;
        height: 25px;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 1;
        
        .lbp-bar-fill {
            background-color: aquamarine;
            border-radius: 100px 0 0 100px;
            content: "";
            height: 25px;
            position: absolute;
            transition: all ease-in-out 1s 0.5s;
        }
    }
    
    .lbp-chest {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(76%, -14%);
        transition: all linear 0s 0.5s;
        z-index: 6;
    }
    
    .lbp-indicator {
        position: absolute;
        left: 2%;
        top: -35px;
        transform: translateX(-50%);
        transition: all ease-in-out 1s 0.5s, opacity linear 0.2s 0s;
        z-index: 5;
        
        &::before {
            bottom: -10px;
            content: "";
            height: 0;
            border-left: 17px solid transparent;
            border-right: 17px solid transparent;
            border-top: 29px solid #6ab870;
            left: 4px;
            position: absolute;
            width: 0;
            z-index: 55;
        }
        
        img {
            position: relative;
            width: 40px;
            z-index: 56;
        }
    }
    
    .glow {
        height: 70px;
        opacity: 0 !important;
        position: absolute;
        right: -48px;
        top: -21px;
        width: 70px;
        z-index: 2;
    }
}

.lbpc-reward {
    opacity: 0;
    position: absolute;
    transform: translate(76%, -14%);
    transition: all ease-in-out 0, opacity ease-in-out 0.2s;
    z-index: 500;

    &.claim {
        opacity: 1;
        transition: all ease-in-out 1s 1s, opacity ease-in-out 0.2s;
    }
}

.lbp-container.claim {
    .glow {
        opacity: 0;
    }
    .lbp-chest {
        opacity: 0;
        transition: all ease-in-out 0.3s 0s;
    }
    .lbp-indicator {
        opacity: 0;
    }
}


//
//
// HOME SCENE
//
//

.sh-background {
    background: url(images/room-background) no-repeat center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.sh-tm-gate {
    border-radius: 100%;
    height: 90vw;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    transition: background ease-in-out 0.3s, transform ease-in-out 0.2s 1.3s;
    width: 90vw;
    z-index: 10;
    
    .sh-ring {
        box-shadow: inset 0 2px 9px 1px rgba(255, 255, 255, 0.5), inset 0 -2px 9px 1px rgba(0, 0, 0, 0.5), inset 0 0 0 30px #999;
        border-radius: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 12;
    }
    .sh-portal {
        animation: rotate-center 1s linear infinite;
        background: url(images/Portal.png) center center;
        background-size:cover;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity ease-in-out 0.3s;
        z-index: 11;
    }
}

.sh-character {
    width: 157px;
    height: 235px;
    position: absolute;
    z-index: 30;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    
    .sh-character-shadow {
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 70%);
        border-radius: 100%;
        bottom: 0;
        height: 60px;
        position: absolute;
        transform: scaleX(3);
        transition: transform ease-in-out 0.2s 1s;
        width: 60px;
        z-index: 10;
    }
    
    .sh-character-front {
        height: 100%;
        opacity: 1;
        position: absolute;
        transition: all ease-in-out 0.2s;
        width: 100%;
        
        .scf-character {
            background: url(images/tom-front.png) no-repeat center bottom;
            height: 100%;
            position: relative;
            z-index: 11;
        }
        
        .sh-character-shadow {
            left: 65px;
            bottom: -25px;
        }
    }
    .sh-character-back {
        height: 100%;
        opacity: 0;
        position: absolute;
        transition: all ease-in-out 0.2s;
        width: 100%;
        
        .scf-character {
            background: url(images/tom-back.png) no-repeat center bottom;
            height: 100%;
            position: relative;
            z-index: 11;
        }
        
        .sh-character-shadow {
            left: 50px;
            bottom: -25px;
        }
    }
}

.sh-ramp {
    background: url(images/ramp.png) no-repeat;
    background-size: contain;
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 20;
    top: 55%;
    transform: translateX(-50%);
    transition: all ease-in-out 0.1s 1.3s;
    left: 50%;
}

.sh-sidebar {
    display: none;
    position: absolute;
    top: @bannerHeight + 35;
    
    &.sh-sidebar-left {
        left: 20px;
    }
    &.sh-sidebar-right {
        right: 20px;
    }
    
    ul {
        list-style: none;
    }
    
    li {
        margin-bottom: 20px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.sh-bottom-navigation {
    height: 20px;
    text-align: center;
    
    &>div {
        bottom: 1%;
        float: left;
        position: absolute;
        width: 30%;
        z-index: 200;

        &.show {
            opacity: 1 !important;
        }
    }
    .loot-boxes-ep {
        left: 0;
        width: 30%;
    }
    .go-ep {
        left: 30%;
        width: 40%;
    }
    .time-machine-ep {
        left: 70%;
        width: 30%;
    }
    
    img.ep {
        width: 80%;
    }
    
    .notification-img {
        position: absolute;
        right: 0;
        top: -15px;
    }
}

.sh.startRunning {
    .sh-tm-gate {
        background: #9999ff;
        transform: translate(-50%,-50%) scale(5);
    }
    .sh-character-front {
        opacity: 0;
    }
    .sh-character-back {
        animation: character-run 1s ease-in-out 0.3s both;
        opacity: 1;
    }
    .sh-character-shadow {
        transform: scale(0);
    }
    .sh-bottom-navigation {
        opacity: 0;
    }
    .banner {
        opacity: 0;
    }
    .sh-ramp {
        opacity: 0;
    }
    .sh-portal {
        opacity: 1;
    }
}


//
//
//GAME OVER
//
//
.sgo {
    .c-counter {
        animation: appear-opacity 0.2s both;
        opacity: 0;

        img {
            height: 20px;
            margin: 0 6px;
            vertical-align: sub;
        }
    }

    .sgo-top-bar {
        margin: 0 10px;
        position: relative;
        z-index: 2;

        .sgo-score {
            animation: appear-opacity 0.2s both;
            background-color: rgba(255, 255, 255, 0.7);
            color: #333;
            font-size: 25px;
            left: 50%;
            line-height: 21px;
            opacity: 0;
            padding: 10px 10px 6px;
            position: absolute;
            text-align: center;
            top: 0;
            transform: translateX(-50%);
            width: 70px;
        }

        .sgo-close {
            animation: appear-opacity 0.2s both 2s;
            float: right;
            opacity: 0;
        }
    }

    .lbp {
        margin: 100px auto 50px;
        position: relative;
        z-index: 50;
    }
}
.game-over-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.sh.gameOver {
    .loot-boxes-ep {
        opacity: 0;
    }
}
.gbr {
    height: 20px;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    position: absolute;
    z-index: 80;

    &.gbr-2 {
        transition-delay: 0.3s;
    }
    &.gbr-3 {
        transition-delay: 0.6s;
    }

    &.make-it-disappear {
        animation: disappear-opacity 0.5s ease-in-out 0.5s both;
    }
}

//
//
//LOOT BOXES
//
//

.hasKeys {
    .lb-fixed-top {
        height: 140px;
    }
    .lb-tile-list {
        margin-top: 140px;
    }
}

.lb-fixed-top {
    background: rgb(0,174,255);
    background: linear-gradient(0deg, rgba(0,174,255,1) 0%, rgba(0,240,255,1) 100%);
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.3);
    height: 160px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.lb-top-bar {
    padding: 10px;
    
    &>div {
        float: left;
        margin-right: 10px;
    }
    
    .probability {
        font-size: 2.5em;
        line-height: 30px;
    }
    
    .lb-close {
        float: right;
        margin-right: 0;
    }
    
    .lb-keys {
        float: none;
        font-size: 1.6em;
        letter-spacing: 0.3px;
        margin-bottom: 5px;
        text-align: center;
        width: 290px;
    }
}

.lb-tile-list {
    margin-top: 160px;
    
    .lb-tile {
        background: rgb(255,209,142);
        background: linear-gradient(0deg, rgba(255,209,142,1) 0%, rgba(255,242,174,1) 100%);
        height: 100px;
        overflow: hidden;
        padding: 50px 0;
        
        .lb-tile-rewards {
            float: left;
            position: relative;
            text-align: right;
            width: 50%;

            .chest {
                position: relative;
                width: 70%;
                z-index: 10;
            }
            .chest2 {
                margin-left: -15%;
                margin-top: -6%;
                position: absolute;
                width: 50%;
                z-index: 9;
            }
            .chest3 {
                margin-left: -25%;
                margin-top: -12%;
                position: absolute;
                width: 40%;
                z-index: 8;
            }
            .chest4 {
                margin-left: -35%;
                margin-top: -16%;
                position: absolute;
                width: 35%;
                z-index: 7;
            }
            .chest5 {
                margin-left: -50%;
                margin-top: -20%;
                position: absolute;
                width: 30%;
                z-index: 6;
            }
            .resources {
                bottom: 0;
                position: absolute;
                right: 0;
                width: 40%;
                z-index: 11;
            }
        }
        .lb-tile-cta {
            display: table;
            float: left;
            height: 100%;
            width: 50%;
            
            
            .lb-tile-cta-inner {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
    
    .lbp {
        left: 30px;
        margin-top: -5px;
        position: absolute;
        z-index: 50;
    }
}



//
//
//AD SCENE
//
//

.swa {
    font-size: 15em;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
}



//
//
//LOOT BOX OPENING
//
//

.lbo {
    &.disappear-animation {
        animation: disappear-opacity 0.5s ease-in-out 1s both;
    }
    
    .lbo-chest {
        bottom: 10%;
        left: 10%;
        position: absolute;
        width: 80%;
        
        .chest {
            animation: appear-opacity 0.3s linear 0.2s both;
            max-width: 64%;
            left: 50%;
            opacity: 0;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 200px;
            z-index: 10;
            
            &.soonDisappearing {
                animation: disappear-opacity 0.5s ease-in-out 1s both;
            }
        }
        .glow {
            height: 500px;
            max-width: 60vw;
            max-height: 60vw;
            margin: 0 auto;
            opacity: 0;
            width: 500px;
        }
        .key {
            animation: key-in 0.3s linear 0.2s both, disappear-opacity 0.5s ease-in-out 1s both;
            background: url(images/key-half.png) no-repeat center center;
            background-size: contain;
            height: 115px;
            left: 50%;
            margin-left: -37px;
            margin-top: -10px;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 10;
            width: 117px;
        }
    }
    
    .lbo-resources {
        bottom: 50%;
        font-size: 3.5em;
        position: absolute;
        text-align: center;
        width: 100%;
        
        .lbo-resource {
            display: inline-block;
            width: 33%;
        }
        
        .lbo-amount {
            animation: appear-opacity 0.3s linear 0.5s both;
            opacity: 0;
        }
        
        .lbo-resource-image {
            height: 90px;
            margin: 0 auto;
            max-width: 80%;
            position: relative;
            width: 100%;
            
            img {
                animation: rewards-up 0.25s linear 0.2s both;
                bottom: -1000%;
                left: 0;
                margin-left: 10%;
                max-width: 80%;
                position: absolute;
                width: 200px;
            }
        }
    }
    
    .lbo-tmr-container {
        animation: appear-opacity 0.5s linear 1s both;
        bottom: 10%;
        left: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
    }
    
    .lar {
        img {
            position: absolute;
        }
    }
    
    .tutorial-hand {
        bottom: 5%;
    }
}
.lbo-animated-resource {
    .lbo-reward-single {
        opacity: 0;
        width: 20px;
    }
    .lbo-reward-single.do-transition {
        transition: all 1s ease-in-out;

        &.lrs2 {
            transition: all 1s ease-in-out .2s;
        }
        &.lrs3 {
            transition: all 1s ease-in-out .4s;
        }
    }
}





//
//
//TIME MACHINE
//
//

.stm {
    .lb-close-container {
        padding-right: 10px;
        text-align: right;
    }
    .stm-inner {
        bottom: 5%;
        position: absolute;
        width: 100%;
    }
    .stm-core {
        position: relative;
        z-index: 11;
    }
    .tmr {
        position: relative;
        z-index: 10;
    }
    .stm-lights{
        border: 8px solid #333;
        border-radius: 100%;
        box-shadow: 0 0 0px 20px #999;
        height: 70vw;
        margin: 0 auto;
        transition: all ease-in-out 0.5s;
        width: 70vw;
    }
    .stm-reward {
        background: #BBB;
        border-radius: 100%;
        box-shadow: inset 0 0 0 8px #333;
        height: 88%;
        margin: 0 auto;
        margin-top: 6%;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 88%;

        img {
            left: 50%;
            max-height: 60%;
            max-width: 70%;
            position: absolute;
            top: 55%;
            transform: translate(-50%, -50%);
        }

        .level {
            background: #333;
            border-radius: 100%;
            color: #fff;
            font-size: 3em;
            line-height: 30px;
            margin: -10px auto 0;
            padding: 20px 0 10px;
            width: 60px;
        }
    }
    .tmu {
        background-color: #AAA;
        border-radius: 20px;
        box-shadow: 0 5px 0 #888;
        margin: 0 20px;
        padding: 25px 20px;
        text-align: center;
        
        a {
            background: #0dbaec;
            background: linear-gradient(0deg, #0dbaec 0%, #0a6ebf 100%);
            border-radius: 12px 12px 10px 10px;
            box-shadow: inset 0 -2px 2px rgb(176, 126, 163, 0.4), inset 0 0 0 6px rgb(255 255 255), inset 0 -1px 4px 7px rgb(37, 93, 130, 0.9);
            color: #fff;
            display: inline-block;
            font-size: 3em;
            max-width: 100%;
            padding: 18px 40px;
            transition: all ease-in-out 0.5s;
            
            &.disabled {
                background: #bbb;
                background: linear-gradient( 0deg, #ddd 0%, #bbb 100%);
                box-shadow: inset 0 -2px 2px #b07ea3, inset 0 0 0 6px rgb(255 255 255), inset 0 -1px 3px 5px #828282;
                color: #999;
            }
        }
    }
    
        
    &.upgrading {
        .stm-reward {
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 2s ease infinite;
        }
        .tmu a {
            opacity: 0;
        }
        .tmr-container {
            box-shadow: 0 0 15px 0 rgba(255,255,255,0.5);
        }
    }
}




//
//
//RUNNING VIDEO
//
//

.sr {
    .sr-overlay {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100;
    }
    .sr-video-container {
        
    }
    iframe {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 10;
    }
}